<?xml version="1.0"?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="dmtest" value="0" />
    <add key="GoodsToolsProducts" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lmbdyPn83g7Q9ONmwor6x9Ld1DIXU+CSh3hHHtnPEyc5F8oi6UzIT6w="/>
    <add key="ToolsProducts" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lugs3HOie12qlXbUQd/oD8OIpdasn06zpzE8kgMFO57w2WA7sXPqvi0=" />
    <add key="Main" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lhcYYX6++bdHxwTBMaEPDYv1JBk7t4WFmI5COXxMUv2J3uRYZL+/K24=" />
    <add key="DbInfo" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lkHWN12UqyDi73uMmdayB7xM3+R7RIa8j58BcBBgeOlcpf8QcMgTX44="/>
    <!--<add key="dmtest" value="1"/>
    <add key="DbInfo" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lkHWN12UqyDi73uMmdayB7xM3+R7RIa8j58BcBBgeOlcpf8QcMgTX44="/>-->
    <!--<add key="dmtest" value="1" />
    <add key="GoodsToolsProducts" value="5XtlwsBkPO/WNEWp5XHHz7op6tBfLG9+GDCeIc1M64n1yXFz6kHlxvrwRF4B98EQ0dN4d2iNm1DCHBiuYGdz2uQ0TeVYmlN2RzkGUMFIY6Q15gVSiTG6zeuyHUuZRJz1/0sN9g/Z/Z1CR+i2Tiys1IfN3ppKuLNjNIKfYT7ykLSsn495B/0zTFugVTtBD19nQhNF1dc7LoU=" />
    <add key="GoodsProducts" value="5XtlwsBkPO/WNEWp5XHHz7op6tBfLG9+GDCeIc1M64n1yXFz6kHlxvrwRF4B98EQ0dN4d2iNm1DCHBiuYGdz2uQ0TeVYmlN2RzkGUMFIY6Q15gVSiTG6zeuyHUuZRJz1/0sN9g/Z/Z1CR+i2Tiys1IfN3ppKuLNjNIKfYT7ykLSsn495B/0zTFugVTtBD19nQhNF1dc7LoU=" />
    <add key="GoodsProductsSub" value="5XtlwsBkPO/WNEWp5XHHz7op6tBfLG9+GDCeIc1M64n1yXFz6kHlxvrwRF4B98EQ0dN4d2iNm1DCHBiuYGdz2uQ0TeVYmlN2RzkGUMFIY6Q15gVSiTG6zeuyHUuZRJz1/0sN9g/Z/Z1CR+i2Tiys1IfN3ppKuLNjd+/5txvYc0Sy73pChXFdGo653poh2Xn5TjsZX5irKAdme89k92fb/w==" />
    <add key="Goodsbackuppruduct" value="5XtlwsBkPO/WNEWp5XHHz7op6tBfLG9+GDCeIc1M64n1yXFz6kHlxvrwRF4B98EQ0dN4d2iNm1DCHBiuYGdz2uQ0TeVYmlN2RzkGUMFIY6Q15gVSiTG6zeuyHUuZRJz1/0sN9g/Z/Z1CR+i2Tiys1MT5F0fPZZMsojeVYSfeuqY7T9p9dKJOFKTOTKQPmN6KG4f8hTDSaHI=" />
    <add key="appkey" value="sp" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>