<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="DbInfo" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lkHWN12UqyDi73uMmdayB7xM3+R7RIa8j58BcBBgeOlcpf8QcMgTX44="/>
    <add key="GoodsToolsProducts" value="x08MhRYOxWPWWukalQuup8FRS90ibdvqBb39i8yFpZ56cchYVrxtsw9wCX8ithAg7WUXLxeKmYnB70xL0jH0lmbdyPn83g7Q9ONmwor6x9Ld1DIXU+CSh3hHHtnPEyc5F8oi6UzIT6w="/>
    <add key="dmtest" value="1"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
